* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
}

:root{
    --navigation: #115260ff;
    font-family: 'Heebo', sans-serif;
    --min-header-width: 850px;
}

header {
    width: 100%;
}

.principal-header {
    position: sticky;
    top: 0px;
}

.main-header-container {
    position: relative;
    width: 100%;
    height: 100px;
    min-width: var(--min-header-width); /* este es el que esta limitando el crecimiento */
    background-color: var(--navigation);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.logo-img{
    max-height: 50px;
    display: block;
}

.search-container{
    width: 535px;
    padding: 0 15px;
    position: relative;
    margin: 0 50px;
}

.search-container .search-text {
    width: calc(100% - 45px);
    border: 2px solid #dcdcdc;
    border-right: none;
    border-radius: 18px 0 0 18px;
    font-size: 1.5rem;
    height: 38px;
    margin-right: 0px;
    padding: 0 0 0 18px;
    color: rgb(30, 30, 30) !important;
}

.btn-search {
    position: absolute;
    border: 2px solid #dcdcdc;
    background-color: #FF6B6B;
    height: 38px;
    width: 45px;
    border-left: none;
    border-radius: 0 18px 18px 0;
}


.main-container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
}

.main-container-nav .bag {
    position: relative;
}

.main-container-nav .items-number {
    
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #FF6B6B;
    border-radius: 50%;
    left: 19px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 22px;

}


.main-container-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav-icon{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: bottom;
}

.user-icon{
    background-image: url('../assets/icons/user.png');
}

.menu-icon{
    background-image: url('../assets/icons/bag.png');
}

.search-icon{
    background-image: url('../assets/icons/search.png');
}

.navigation-container{
    width: 100%;
    min-width: var(--min-header-width);
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.navigation-list {
    list-style-type: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 45px;
}

.navigation-list li{
    margin: 0 30px;
}

.navigation-container  a {
    text-decoration: none;
}

.hamburgerMenu, #hamburger{
    display: none;
}

.main-login-container{
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(260px,478px) minmax(30px, 1fr);

    font-size: 1.4rem;
    color: #444444;
}

.login-container{
    grid-column: 2 / 3;
    place-self: center;
    width: 100%;
    height: 400px;
    padding: 50px 30px 0;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: 0 0 4px 5px rgb(0 0 0 / 2%);
}

.login-container .txt-form{
    width: 100%;
    max-width: 418px;
    height: 49px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    background-color: #fff;

    font-size: 1.6rem;
    color: #3a3a3a;
}

.login-container .txt-hidden-lbl{
    margin-bottom: 20px;
}

.login-container .forgotten-password{
    display: block;
    text-decoration: none;
    color:#e05d5d;
    margin-bottom: 20px;
}

.login-container .btn-user-form{
    display: block;
    width: 100%;
    max-width: 418px;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #11526099;
    border-color: #11526099;
    border-radius: 4px;
}




@media screen and (max-width: 1070px){

    .search-container{
        margin: 0 10px;
    }

    .main-container-nav{
        width: 90px;
    }

    .nav-icon-text {
        display: none;
    }

}

@media screen and (max-width: 775px){

    .principal-header {
        position: fixed;
        top: 0px;
    }

    .hamburgerMenu { 
        display: block;
    }

    .hamburgerMenu label {
        display: inline-block;
        cursor: pointer;
        padding: 18px 2px 7px ;
        height: 50px;
        width: 40px;
    }

    .hamburgerMenu label div {
        border-top: 2.7px solid #fff;
        display: block;
        height: 10px;
        width: 25px;
    }

    .main-container-nav{
        width: 135px;
    }

    .logo-img{
        max-height: 32px;
    }

    .main-header-container {
        min-width: 320px;
        height: 50px;
        justify-content: space-between;
        padding: 0 5px 0 15px;
    }

    .navigation-container{
        min-width: 320px;
        transition: height 1s;
        padding: 0 10px 0;
        overflow-y: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 98px;
        left: 0px;
    }

    .navigation-list, .navigation-list li, .navigation-list li a{
        display: block;
        margin: 0;
        width: 100%;
    }

    #hamburger:checked~.navigation-container{
        height: calc(100vh - 100px);
    }

    #hamburger:not(:checked)~.navigation-container {
        height: 0px;
    }

    .search-container{
        position: absolute;
        top: 50px;
        left: 0px;
        height: 48px;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .search-container .search-text {
        width: calc(100% - 55px);
        border-color: #fff;
        border-radius: 0;
        border: none;
        font-size: 1.5rem;
        height: 48px;
        margin-right: 0px;
        padding: 0 0 0 18px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    }

    .btn-search {
        position: absolute;
        border: none;
        background-color: #FF6B6B;
        height: 48px;
        width: 55px;
        border-radius: 0;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%); 
    }

    .main-login-container{
        position: absolute;
        transform: translateY(98px);
        z-index: -1;
    }

    .footer_main{
        position: absolute; 
        top: 688px; 
        z-index: -1;
    }
}



