* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}

:root{
    --navigation: #115260ff;
    font-family: 'Heebo', sans-serif;
    --min-header-width: 850px;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.header-up-container {
    position: relative;
    width: 100%;
    min-width: var(--min-header-width); /* este es el que esta limitando el crecimiento */
    height: 100px;
    background-color: var(--navigation);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    max-height: 50px;
    display: block;
}

.header-up__search-cont{
    position: relative;
    width: 535px;
    margin: 0 50px;
    padding: 0 15px;
}

.header-up__search-cont .search-text, .btn-search{
    border: 2px solid #dcdcdc;
    height: 38px;
}

.header-up__search-cont .search-text {
    width: calc(100% - 45px);
    border-right: none;
    border-radius: 18px 0 0 18px;
    font-size: 1.5rem;
    margin-right: 0px;
    padding: 0 0 0 18px;
    color: rgba(68, 68, 68, 1);
}

.btn-search {
    position: absolute;
    background-color: #FF6B6B;
    width: 45px;
    border-left: none;
    border-radius: 0 18px 18px 0;
}

.header-up__nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
}

.header-up__nav-cont .bag {
    position: relative;
}

.header-up__nav-cont .items-number {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #FF6B6B;
    border-radius: 50%;
    left: 19px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 22px;
}

.header-up__nav-cont a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav-icon{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: bottom;
}

.user-icon{
    background-image: url('../assets/icons/user.png');
}

.menu-icon{
    background-image: url('../assets/icons/bag.png');
}

.search-icon{
    background-image: url('../assets/icons/search.png');
}

.header-down-container{
    width: 100%;
    min-width: var(--min-header-width);
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.header-down__nav-list{
    list-style-type: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 45px;
}

.header-down__nav-list li{
    margin: 0 30px;
}

.header-down-container  a {
    text-decoration: none;
}

.hamburgerMenu, #hamburger{
    display: none;
}

/* Main Part Index*/

.main-slider-container{
    position: relative;
    width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider{
    width: 1070px;
    padding: 20px 0px 0px;
    overflow: hidden;
}

.main-slider-images{
    width: 300%;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: all 0.5s;
}

.main-slider-images a{
    width: 33.33%;
    margin: 0 10px 0 0;
}

.main-slider-images a img{
    width: 100%;
}

.main-slider-buttons{
    position: absolute;
    top: 90%;
    transform: translateY(-40%);
}

.main-slider-buttons input{
    display: none;
}

.div_btn_radio{
    width: 12px;
    height: 12px;
    margin: 8px;
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
}

.main-slider-buttons input:checked + div{
    background-color: rgb(66, 66, 66);
    opacity: 1;
}


/* Main Part Login */
.main-login-container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(260px,478px) minmax(30px, 1fr);
    font-size: 1.4rem;
    color: #444444;
}

.login-container{
    grid-column: 2 / 3;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin: 80px 0;
    padding: 0px 0px 40px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: 0 0 4px 5px rgb(0 0 0 / 2%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px minmax(600px, fit-content);
}

#account-acces-content, #new-user-content{
    padding: 0 25px;
    margin-top: 40px;
}


#account-acces-tab, 
#new-user-tab, 
#account-acces-content,
#new-user-content{
    display: none;
}

.login-container>label{
    cursor: pointer;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: rgb(238, 238, 238);
    line-height: 40px;
}

#account-acces-tab:checked~#account-acces-content,
#new-user-tab:checked~#new-user-content{
    display: block;
}

#account-acces-tab:checked+label,
#new-user-tab:checked+label{
    background-color: #fff;
}

#account-acces-content, #new-user-content{
    grid-area: 2 / 1 / 3 / 3;
} 

.login-container .txt-form{
    width: 100%;
    max-width: 418px;
    height: 49px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    background-color: #fff;
    font-size: 1.6rem;
    color: #3a3a3a;
}

.login-container .txt-hidden-lbl{
    margin-bottom: 20px;
}

.login-container .forgotten-password{
    display: block;
    text-decoration: none;
    color:#e05d5d;
    margin-bottom: 20px;
}

.login-container .btn-user-form{
    display: block;
    width: 100%;
    max-width: 418px;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #11526099;
    border-color: #11526099;
    border-radius: 4px;
    margin-top: 20px;
}

/* Main part product details */

.main-product{
    width: 100%;
    height: 100vh;
    padding: 40px 8%;
}

.product-container{
    width: 100%;
    min-width: 935px;
    display: grid;
    gap: 50px ;
    grid-template-columns: 1fr 1.8fr 1fr;
    color: rgb(51, 51, 51);
    text-align: left;
}

#product-details a, #product-details .td-data{
    display: block;
    text-decoration: none;
    color: rgb(102, 102, 102);
    width: fit-content;
}    

#product-details{
    font-size: 1.5rem;
}

#product-details > h1{
    margin: 5px 0 5PX;
    font-size: 2.8rem;
}

#product-details p{
    margin-bottom: 20px;
    width: max-content;
}

#product-details .td-title{
    font-weight: 700;
    padding-bottom: 8px;
}

#product-details .td-data{
    padding: 0 0 8px 6px;
}

.product-img{
    width: 100%;
}

#product-details a:hover{
    text-decoration: underline;
}

.buy-product{
    border-left: 1px solid #eeeeee;
    padding-left: 30px;
}

#price{
    display: block;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.disponilidad-book{
    display: block;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #1b8097ff;
}

.buy-button{
    display: block;
    width: 90%;
    height: 45px;
    border-radius: 5px;
    background-color: var(--navigation);
    font-size: 1.8rem;
    color: #ffff;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
}

.buy-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../assets/icons/cart-buy.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: middle;
}

/* Esta parte comienza el Footer  */
footer{
    position: relative;
    width: 100%;
    min-width: 850px;
    background-color: #38383a;
    z-index: 0;
}

footer .footer-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navigation);
    text-align: center;
}

footer .footer-up-container > div{
    width: 400px;
}

.footer-up__txt-cont > span, .footer-up__txt-cont > div{
    display: inline-block;
    margin: 10px 0px;
    text-align: left;
} 

.footer-up__txt-cont > div > h3{
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 20px;
}

.footer-up__txt-cont > div > p{
    font-size: 1.3rem;
    font-weight: 200;
    color: #17bfe4;
    line-height: 20px;
}

.footer-up__input-susc{
    text-align: left;
    margin-left: 50px;
}

.footer-up__input-susc input{
    position: relative;
    width: calc(100% - 70px);
    height: 35px;
    padding: 0 10px;
    border: none;
    font-size: 1.5rem;
    color: rgba(68, 68, 68, 1);
}

.footer-up__input-susc button{
    position: absolute;
    height: 35px;
    width: 70px;
    border: none;
    background-color: #e05d5d;
    color: #fff;
}

footer .footer-down-container{
    display: flex;
    justify-content: space-evenly;    
    padding: 0px 40px 40px;
}

.footer-down__info{
    min-width: 210px;
    margin: 40px 10px 0px;
}

.footer-down__info h3{
    font-weight: 500;
    font-size: 1.6rem;
    color: #1b8097ff;
    margin-bottom: 10px;
}

.footer-down__info-txt a{
    display: block;
    margin-bottom: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
}

.footer-icons{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 15px 8px 0px 0px;
    opacity: 0.6;
}

.footer-face{
    background-image: url('../assets/icons/facebook.svg');
}

.footer-inst{
    background-image: url('../assets/icons/instagram.svg');
}

.footer-whats{
    background-image: url('../assets/icons/whatsaap.svg');
}

.footer__payments-img{
    display: block;
    width: 210px;
    margin-top: 15px;
    opacity: 0.2;
}

footer > h3{
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
}



@media screen and (max-width: 1070px){

    .header-up__search-cont{
        margin: 0 10px;
    }

    .header-up__nav-cont{
        width: 90px;
    }

    .nav-icon-text {
        display: none;
    }

    .main-slider-container{
        width: 95%;
    }

    .main-slider{
        width: 100%;
    }

    .main-slider-images{
        width: 300%;
    }

    .main-slider-images a{
        width: 33.33%;
    }

    .main-slider-images a img{
        width: 100%;
    }
    
    .main-product{
        padding: 40px 5%;
    }
    .product-container{
        min-width: 775px;
    }
}


@media screen and (max-width: 900px){

    footer .footer-down-container{
        flex-direction: column;
        align-items: center;    
    }

    .footer-down__info{
        text-align: center;
    }

    .footer__logo-img{
        margin: 0 auto;
        max-height: 50px;
    }

    footer .footer-up-container{
        flex-direction: column;
    }

    .footer-up__txt-cont > span, .footer-up__txt-cont > div{
        margin: 10px 0 10px;
        text-align: center;
    } 

    .footer-up__input-susc{
        text-align: left;
        margin: 0px 0px 10px 0px;
    }

    footer .footer-up-container > div{
        width: 95%;
    }

    main {
        min-width: 850px;
    }
}

@media screen and (max-width: 775px){



    .main-slider-container{
        width: 95%;
    }

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 98px min-content min-content;
    }

    header{
        position: fixed;
        top: 0px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hamburgerMenu { 
        display: block;
    }

    .hamburgerMenu label {
        display: inline-block;
        cursor: pointer;
        padding: 18px 2px 7px ;
        height: 50px;
        width: 40px;
    }

    .hamburgerMenu label div {
        border-top: 2.7px solid #fff;
        display: block;
        height: 10px;
        width: 25px;
    }

    .header-up__nav-cont{
        width: 135px;
    }

    .logo-img{
        max-height: 32px;
    }

    .footer__logo-img{
        max-height: 50px;
    }

    .header-up-container {
        min-width: 320px;
        height: 50px;
        justify-content: space-between;
        padding: 0 5px 0 15px;
    }

    .header-down-container{
        min-width: 320px;
        transition: height 1s;
        padding: 0 10px 0;
        overflow-y: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 98px;
        left: 0px;
    }

    .header-down__nav-list, .header-down__nav-list li, .header-down__nav-list li a{
        display: block;
        margin: 0;
        width: 100%;
    }

    .header-down__nav-list li a{
        border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    }

    #hamburger:checked~.header-down-container{
        height: calc(100vh - (100vh - 278px));
    }

    #hamburger:not(:checked)~.header-down-container {
        height: 0px;
    }

    .header-up__search-cont{
        position: absolute;
        top: 50px;
        left: 0px;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .header-up__search-cont .search-text {
        width: calc(100% - 55px);
        border-color: #fff;
        border-radius: 0;
        border: none;
        font-size: 1.5rem;
        height: 48px;
        margin-right: 0px;
        padding: 0 0 0 18px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    }

    .btn-search {
        position: absolute;
        border: none;
        background-color: #FF6B6B;
        height: 48px;
        width: 55px;
        border-radius: 0;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%); 
    }

    .main-login-container{
        grid-column: 1/2;
        grid-row: 2/3;
        /* position: absolute;
        transform: translateY(98px);
        z-index: -1; */
    }

    main{
        min-width: 320px;
        grid-column: 1/2;
        grid-row: 2/3;
        display: block;
    }

    .footer_main{
        grid-column: 1/2;
        grid-row: 3/4;
        color: red;
        /* position: absolute; 
        top: 688px; 
        z-index: -1; */
    }

    footer{
        width: 100%;
        min-width: 320px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .main-product{
        height: 100%;
    }

    .product-container{
        min-width: 288px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .buy-product{
        width: 80%;
        border: 1px solid #eeeeee;
        text-align: center;
        padding: 20px 30px 20px;
    }

    .buy-button{
        margin: 0 auto;
    }

    #product-details h1, #product-details p {
        text-align: center;
    }
}



