* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}

:root{
    --navigation: #115260ff;
    font-family: 'Heebo', sans-serif;
    --min-header-width: 850px;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
}

.header-up-container {
    position: relative;
    width: 100%;
    min-width: var(--min-header-width); /* este es el que esta limitando el crecimiento */
    height: 100px;
    background-color: var(--navigation);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    max-height: 50px;
    display: block;
}

.header-up__search-cont{
    position: relative;
    width: 535px;
    margin: 0 50px;
    padding: 0 15px;
}

.header-up__search-cont .search-text, .btn-search{
    border: 2px solid #dcdcdc;
    height: 38px;
}

.header-up__search-cont .search-text {
    width: calc(100% - 45px);
    border-right: none;
    border-radius: 18px 0 0 18px;
    font-size: 1.5rem;
    margin-right: 0px;
    padding: 0 0 0 18px;
    color: rgba(68, 68, 68, 1);
}

.btn-search {
    position: absolute;
    background-color: #FF6B6B;
    width: 45px;
    border-left: none;
    border-radius: 0 18px 18px 0;
}

.header-up__nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 252px;
}

.header-up__nav-cont .bag {
    position: relative;
}

.header-up__nav-cont .items-number {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #FF6B6B;
    border-radius: 50%;
    left: 19px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 22px;
}

.header-up__nav-cont a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.nav-icon{
    height: 30px;
    width: 30px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    vertical-align: bottom;
}

.user-icon{
    background-image: url('../assets/icons/user.png');
}

.menu-icon{
    background-image: url('../assets/icons/bag.png');
}

.search-icon{
    background-image: url('../assets/icons/search.png');
}

.header-down-container{
    width: 100%;
    min-width: var(--min-header-width);
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.header-down__nav-list{
    list-style-type: none;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 45px;
}

.header-down__nav-list li{
    margin: 0 30px;
}

.header-down-container  a {
    text-decoration: none;
}

.hamburgerMenu, #hamburger{
    display: none;
}

/* Main Part */
.main-login-container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: minmax(30px, 1fr) minmax(260px,478px) minmax(30px, 1fr);
    font-size: 1.4rem;
    color: #444444;
}

.login-container{
    grid-column: 2 / 3;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin: 80px 0;
    padding: 0px 0px 40px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: 0 0 4px 5px rgb(0 0 0 / 2%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px minmax(600px, fit-content);
}

#account-acces-content, #new-user-content{
    padding: 0 25px;
    margin-top: 40px;
}


#account-acces-tab, 
#new-user-tab, 
#account-acces-content,
#new-user-content{
    display: none;
}

.login-container>label{
    cursor: pointer;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: rgb(238, 238, 238);
    line-height: 40px;
}

#account-acces-tab:checked~#account-acces-content,
#new-user-tab:checked~#new-user-content{
    display: block;
}

#account-acces-tab:checked+label,
#new-user-tab:checked+label{
    background-color: #fff;
}

#account-acces-content, #new-user-content{
    grid-area: 2 / 1 / 3 / 3;
} 

.login-container .txt-form{
    width: 100%;
    max-width: 418px;
    height: 49px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    background-color: #fff;
    font-size: 1.6rem;
    color: #3a3a3a;
}

.login-container .txt-hidden-lbl{
    margin-bottom: 20px;
}

.login-container .forgotten-password{
    display: block;
    text-decoration: none;
    color:#e05d5d;
    margin-bottom: 20px;
}

.login-container .btn-user-form{
    display: block;
    width: 100%;
    max-width: 418px;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #11526099;
    border-color: #11526099;
    border-radius: 4px;
    margin-top: 20px;
}

@media screen and (max-width: 1070px){

    .header-up__search-cont{
        margin: 0 10px;
    }

    .header-up__nav-cont{
        width: 90px;
    }

    .nav-icon-text {
        display: none;
    }

}

@media screen and (max-width: 775px){

    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 98px min-content 220px;
    }

    header{
        position: fixed;
        top: 0px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .hamburgerMenu { 
        display: block;
    }

    .hamburgerMenu label {
        display: inline-block;
        cursor: pointer;
        padding: 18px 2px 7px ;
        height: 50px;
        width: 40px;
    }

    .hamburgerMenu label div {
        border-top: 2.7px solid #fff;
        display: block;
        height: 10px;
        width: 25px;
    }

    .header-up__nav-cont{
        width: 135px;
    }

    .logo-img{
        max-height: 32px;
    }

    .header-up-container {
        min-width: 320px;
        height: 50px;
        justify-content: space-between;
        padding: 0 5px 0 15px;
    }

    .header-down-container{
        min-width: 320px;
        transition: height 1s;
        padding: 0 10px 0;
        overflow-y: hidden;
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        top: 98px;
        left: 0px;
    }

    .header-down__nav-list, .header-down__nav-list li, .header-down__nav-list li a{
        display: block;
        margin: 0;
        width: 100%;
    }

    .header-down__nav-list li a{
        border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    }

    #hamburger:checked~.header-down-container{
        height: calc(100vh - (100vh - 278px));
    }

    #hamburger:not(:checked)~.header-down-container {
        height: 0px;
    }

    .header-up__search-cont{
        position: absolute;
        top: 50px;
        left: 0px;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .header-up__search-cont .search-text {
        width: calc(100% - 55px);
        border-color: #fff;
        border-radius: 0;
        border: none;
        font-size: 1.5rem;
        height: 48px;
        margin-right: 0px;
        padding: 0 0 0 18px;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    }

    .btn-search {
        position: absolute;
        border: none;
        background-color: #FF6B6B;
        height: 48px;
        width: 55px;
        border-radius: 0;
        box-shadow: 0 2px 8px rgb(0 0 0 / 8%); 
    }

    .main-login-container{
        grid-column: 1/2;
        grid-row: 2/3;
        /* position: absolute;
        transform: translateY(98px);
        z-index: -1; */
    }

    .footer_main{
        grid-column: 1/2;
        grid-row: 3/4;
        color: red;
        /* position: absolute; 
        top: 688px; 
        z-index: -1; */
    }
}



