* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --navigation: #115260ff;
}

header {
    width: 100%;
    min-width: 320px;
}

.logo-img{
    max-width: 110px;
    display: block;
    align-self: center;
}

.navigation-container {
    width: 100%;
    min-width: 320px;
    height: 60px;
    background-color: var(--navigation);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35%;
    padding: 10px 18px;
}

